<h2>Registrate!</h2>

<form action="/api/session/registro" method="post">
    <input type="text" name="name" id="name" placeholder="Nombre">
    <input type="email" name="email" id="email" placeholder="Email">
    <input type="password" name="password" id="password" placeholder="Contraseña">
    <input type="submit" value="Registrate" id="registro">
</form>
<script src="/js/registro.js"></script>