<h2>Registrate!</h2>

<form action="/api/session/registro" method="post">
    <input type="text" name="first_name" id="name" placeholder="Nombre">
    <input type="text" name="last_name" id="lastName" placeholder="Apellido">
    <input type="number" name="age" id="age" placeholder="Edad">
    <input type="email" name="email" id="email" placeholder="Email">
    <input type="password" name="password" id="password" placeholder="Contraseña">
    <input type="submit" value="Registrate" id="registro">
</form>
<script src="/js/registro.js"></script>