<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/registro"> registro</a></li>
    <li><a href="/login/">LogIn</a></li>
    <li><a href="/api/session/logout?web=1">Log Out</a></li>
    <li><a href="/perfil">Perfil</a></li>
</ul>